@model IEnumerable<Asp.netCoreClientes.Models.ClienteModel>

@{
    ViewData["Title"] = "Lista";
}

<h1 class="text-center">Lista de clientes</h1>

    <div class="inline">
        <a asp-action="Create" >
         <input class="btn btn-primary" type="submit" value="Crear nuevo"/>
         </a>
        
   

    <form  asp-action="Index" method="get">

        <input type="submit" value="Buscar" class="btn btn-primary" />
        <input type="text" name="Search" placeholder="Ingresa el dni" class="form-group">
         
       
    
    </form>
    </div>
 

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                
                    <a asp-action="Edit" asp-route-id="@item.Id" >
                     <input class="btn btn-primary" type="submit" value="Editar"/>
                    </a>
                
                    <a asp-action="Details" asp-route-id="@item.Id" >
                     <input class="btn btn-primary" type="submit" value="Detalles"/>
                    </a>
                     
                    <a asp-action="Delete" asp-route-id="@item.Id" >
                     <input class="btn btn-danger" type="submit" value="Eliminar"/>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
